@model Recipe_Blog.Models.Category

@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mx-5">@Model.Name Details</h2>

<div class="mx-5">
    <hr />
    <div class="m-3 rounded-5" ><img src="/User/img/@Model.Imgpath" height="200px" width="200px" class="rounded"/></div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    
    <a class="btn btn-primary mx-5" asp-action="Categories">Back to Categories</a>
</div>
