@model Recipe_Blog.Models.Testimonial

@{
    ViewData["Title"] = "EditTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mx-5">Edit Testimonial</h1>

<hr />
<div class="row mx-5">
    <div class="col-md-4">
        <form asp-action="EditTestimonial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="TestimonialStatusId" class="control-label"></label>
                <select asp-for="TestimonialStatusId" class="form-control" asp-items="ViewBag.tata"></select>
                <span asp-validation-for="TestimonialStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mx-5">
    <a asp-action="PendingTestimonials">Back to List</a>
</div>
