@model Recipe_Blog.Models.Aboutu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Edit</h1>

<h4>Aboutu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AboutusContent" class="control-label"></label>
                <input asp-for="AboutusContent" class="form-control" />
                <span asp-validation-for="AboutusContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutCreator" class="control-label"></label>
                <input asp-for="AboutCreator" class="form-control" />
                <span asp-validation-for="AboutCreator" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ingpath" class="control-label"></label>
                <input asp-for="Ingpath" class="form-control" />
                <span asp-validation-for="Ingpath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

