
@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card card-authentication1 mx-auto my-4">
	<div class="card-body">
		<div class="card-content p-2">
			<div class="text-center">
				<img src="~/User/img/logo.png" alt="logo icon" class="w-50">
			</div>
			<div class="card-title text-uppercase text-center py-3">REGISTER</div>
			<div asp-action="Register" method="POST">
			
				<a asp-action="RegisterAsUser" class="btn btn-light btn-block waves-effect waves-light">AS USER</a>
				<a asp-action="RegisterAsChef" class="btn btn-light btn-block waves-effect waves-light">AS CHEF</a>

			</div>
		</div>
	</div>
	<div class="card-footer text-center py-3">
		<p class="text-warning mb-0">Already have an account? <a asp-action="login"> Login here</a></p>
	</div>
</div>
