@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card card-authentication1 mx-auto my-5">
	<div class="card-body">
		<div class="card-content p-2">
			<div class="text-center">
				<img src="~/admin/images/logo-icon.png" alt="logo icon">
			</div>
			<div class="card-title text-uppercase text-center py-3">Login</div>
			<form asp-action="Login" method="POST">
				<div class="form-group">
					<label asp-for="UserName" class="sr-only">Username or Email</label>
					<div class="position-relative has-icon-right">
						<input type="text" asp-for="UserName" class="form-control input-shadow" placeholder="Enter Email or Username">
						<div class="form-control-position">
							<i class="icon-user"></i>
						</div>
					</div>
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="sr-only">Password</label>
					<div class="position-relative has-icon-right">
						<input type="password" asp-for="Password" class="form-control input-shadow" placeholder="Enter Password">
						<div class="form-control-position">
							<i class="icon-lock"></i>
						</div>
					</div>
					<span asp-validation-for="Password" class="text-danger"></span>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				</div>
				<div class="form-row">
					<div class="form-group col-6">
						<div class="icheck-material-white">
							<input type="checkbox" id="user-checkbox" checked="" />
							<label for="user-checkbox">Remember me</label>
						</div>
					</div>
					<div class="form-group col-6 text-right">
						<a asp-action="ForgotPassword">Reset Password</a>
					</div>
				</div>
				<button type="submit" class="btn btn-light btn-block">Login</button>
				<a asp-controller="user" asp-action="index" class="btn btn-light btn-block">Login as Guest</a>
			</form>
		</div>
	</div>
	<div class="card-footer text-center py-3">
		<p class="text-warning mb-0">Do not have an account? <a asp-action="index"> Register here</a></p>
	</div>
</div>
