@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1 class="mx-5">Categories</h1>


<table class="table mx-5">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                # Recipes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img src="~/User/@item.Imgpath" height="50px" width="50px" class="rounded"></img>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    
                </td>

                <td>
                    @item.Recipes.Count()

                </td>
             
            </tr>
        }
    </tbody>
</table>
