@model Recipe_Blog.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
    Recipe recipe = ViewBag.Recipe;

}

<h2 class="mx-5">Edit Recipe</h2>

<hr />
<div class="row mx-5">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <input value="@recipe.Imgpath" name="Imgpath" class="d-none" />
                <input value="@recipe.UserId" name="userId" class="d-none" />
                <input value="@recipe.Creationdate" name="createdate" class="d-none" />
                <input value="@recipe.RecipeStatusId" name="statusId" class="d-none" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mx-5">
    <a asp-action="MyRecipes">Back to List</a>
</div>

