@model Aboutu

@{
    ViewData["Title"] = "aboutus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    Homepage home = ViewBag.Homepage;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section mb-5" style=" background-image:url('/User/img/@home.HeroImg') ; background-position:center ;">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 class="" style="text-shadow:2px 2px 4px #000000 ; color:rgb(127, 173, 57)">@home.NavbarTitle</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="section-title">
    <h2>About @Model.AboutCreator</h2>
</div>

<div class="row justify-content-evenly ">

    <img src="/User/img/@Model.Ingpath" class="w-50 m-5 col-5" />
    <div class="col-5 align-items-center d-flex"><h2>@Model.AboutusContent</h2></div>
</div>






