@model IEnumerable<Recipe_Blog.Models.Category>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    IEnumerable<Recipe> r =ViewBag.Recipes;
}
<div class="section-title">
    <h2>Categories</h2>
</div>

<table class="m-5 table">
    <thead>
        <tr>
            <th>Image</th>
            <th>
                Gategory Name
            </th>
            <th>Num Of Recipes</th>
            <th>View Details</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (r.Count(x => x.CategoryId == item.Id) > 0)
            {
                <tr>
                    <td>
                        <div class="rounded-5"><img src="/User/img/@item.Imgpath" width="70px" height="70px"/></div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        @r.Count(x=>x.CategoryId==item.Id)
                    </td>
                    <td>
                        @if (accessor.HttpContext.Session.GetInt32("userSession") != null)
                        {
                            <a class="site-btn" asp-action="CategoryDetails" asp-route-id="@item.Id">Details</a>
                        }
                        else
                        {
                            <a class="site-btn" asp-action="login" asp-controller="Auth">Details</a>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
