@model Recipe

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var myid = ViewBag.currentUser;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    });
</script>
<div class="section-title">
    <h2>Checkout</h2>
</div>
<!-- Checkout Section Begin -->

        <div class="checkout__form">
            <div class="text-center"><h4>Billing Details</h4></div>
    <div class="row">
        <form asp-action="Card" method="post" class="col">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-6">
                    <input class="d-none" type="number" name="userId" value="myid">
                    <div class="col">
                        <div class="checkout__order justify-content-center">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Recipe <span>Total</span></div>
                            <ul>
                                <li>@Model.Name <span>$@Model.Price</span></li>
                                <li>Tax <span>+16%</span></li>
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>$@Model.Price</span></div>
                            <div class="checkout__order__total">Total <span>$@((Model.Price * 16 / 100) + Model.Price)</span></div>

                            <div class="row justify-content-center"> <a asp-action="card" asp-controller="User" asp-route-Id="@Model.Id" type="submit" class="site-btn btn col">PLACE ORDER</a></div>

                        </div>
                    </div>
                </div>
        </form>
    </div>
        </div>

<!-- Checkout Section End -->